body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.90;
    -moz-opacity: 0.90;
    filter: alpha(opacity = 90);
}

.divLogin{
    color:white;
    width:450px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;

    padding-top: 10px;
    padding-bottom: 20px;
    padding-left:100px;
    padding-right:100px;

    background-color:#2a85a0;
    box-shadow: 5px 2px 5px black;
    -webkit-border-radius:5px 120px 5px 120px;
    -moz-border-radius: 5px 120px 5px 120px;
    border-radius: 5px 120px 5px 120px;
}

.btnLogin{
    box-shadow: 0px 2px 5px black;
}

.lblMsg{
    color: #cc0000;
    font-weight:bold;
}